{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Bajm - Alabaster</h1>
    <p>
Kilka prostych słów, <br/>
przesłodzonych nut, <br/>
byle mieć... wszystko znów. <br/>
Szklanka whisky i... <br/>
wciąga Cię do gry,  <br/>
miasto snów - Hollywood.
    </p>
    <p>
Wstaje dzień - masz go w dłoni, <br/>
letni wiatr, słońca blask - chwytasz to, co ma dla Ciebie świat. <br/>
Rodzi się z własnej woli nagły chłód, Alabaster, hotel jak ze snu.
    </p>
    <p>
To co było przed <br/>
już nie liczy się, <br/>
nie ma prób... w Hollywood. <br/>
Oddasz duszę za:  <br/>
chwilę sławy - fakt, <br/>
talent, zbyt - boski dar.
</p>

</article>
{% endblock %}
