{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Perfect</h1>
        <h2>Autobiografia</h2>
        <p>
            Miałem dziesięć lat<br/>
            Gdy usłyszał o nim świat<br/>
            W mej piwnicy był nasz klub<br/>
            Kumpel radio zniósł<br/>
            Usłyszałem blue suede shoes<br/>
            I nie mogłem w nocy spać<br/>
            Wiatr odnowy wiał (wujek Józek zmarł)<br/>
            Darowano reszty kar<br/>
            Znów się można było śmiać<br/>
            W kawiarniany gwar<br/>
            Jak tornado jazz się wdarł<br/>
            I ja też chciałem grać
        </p>
        <p>
            Ojciec, Bóg wie gdzie<br/>
            Martenowski stawiał piec<br/>
            Mnie paznokieć z palca zszedł<br/>
            Z gryfu został wiór<br/>
            Grałem milion różnych bzdur<br/>
            I poznałem co to sex<br/>
            Pocztówkowy szał<br/>
            Każdy z nas ich pięćset miał<br/>
            Zamiast nowej pary jeans<br/>
            A w sobotnią noc<br/>
            Był Luxembourg, chata, szkło<br/>
            Jakże się chciało żyć!
        </p>
        <p>
            Było nas trzech<br/>
            W każdym z nas inna krew<br/>
            Ale jeden przyświecał nam cel<br/>
            Za kilka lat<br/>
            Mieć u stóp cały świat<br/>
            Wszystkiego w bród<br/>
            Alpagi łyk<br/>
            I dyskusje po świt<br/>
            Niecierpliwy w nas ciskał się duch<br/>
            Ktoś dostał w nos<br/>
            To popłakał się ktoś<br/>
            Coś działo się
        </p>
        <p>
            Poróżniła nas<br/>
            Za jej Poli Raksy twarz<br/>
            Każdy by się zabić dał<br/>
            W pewną letnią noc<br/>
            Gdzieś na dach wyniosłem koc<br/>
            I dostałem to, com chciał<br/>
            Powiedziała mi<br/>
            Że kłopoty mogą być<br/>
            Ja jej, że egzamin mam<br/>
            Odkręciła gaz<br/>
            Nie zapukał nikt na czas<br/>
            Znów jak pies, byłem sam<br/>
            Stu różnych ról<br/>
            Czym ugasić mój ból<br/>
            Nauczyło mnie życie jak nikt<br/>
            W wyrku na wznak<br/>
            Przechlapałem swój czas<br/>
            Najlepszy czas<br/>
            W knajpie dla braw<br/>
            Klezmer kazał mi grać<br/>
            Takie rzeczy że jeszcze mi wstyd<br/>
            Pewnego dnia<br/>
            Zrozumiałem, że ja<br/>
            Nie umiem nic<br/>
            Słuchaj mnie tam!<br/>
            Pokonałem się sam<br/>
            Oto wyśnił się wielki mój sen<br/>
            Tysięczny tłum<br/>
            Spija słowa z mych ust<br/>
            Kochają mnie<br/>
            W hotelu fan<br/>
            Mówi: "na taśmie mam<br/>
            To jak w gardłach im rodzi się śpiew"<br/>
            Otwieram drzwi<br/>
            I nie mówię już nic<br/>
            Do czterech ścian
        </p>
    </article>
{% endblock %}
