{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Michael Jackson</h1>
        <h2>Beat It</h2>
        <p>
            They told him don't you ever come around here <br />
            Don't wanna see your face, you better disappear<br />
            The fire's in their eyes and their words are really clear<br />
            So beat it, just beat it<br />
        </p>
        <p>
            You better run, you better do what you can<br />
            Don't wanna see no blood, don't be a macho man<br />
            You wanna be tough, better do what you can<br />
            So beat it, but you wanna be bad<br />
        </p>
        <p>
            [Refren]<br />
            Just beat it, beat it, beat it, beat it<br />
            No one wants to be defeated<br />
            Showin' how funky strong is your fighter<br />
            It doesn't matter who's wrong or right<br />
            Just beat it, beat it<br />
            Just beat it, beat it<br />
            Just beat it, beat it<br />
            Just beat it, beat it<br />
        </p>
        <p>
            They're out to get you, better leave while you can<br />
            Don't wanna be a boy, you wanna be a man<br />
            You wanna stay alive, better do what you can<br />
            So beat it, just beat it<br />
        </p>
        <p>
            You have to show them that you're really not scared<br />
            You're playin' with your life, this ain't no truth or dare<br />
            They'll kick you, then they beat you,<br />
            Then they'll tell you it's fair<br />
            So beat it, but you wanna be bad<br />
        </p>
        <p>
            [Refren]<br />
            Just beat it, beat it, beat it, beat it<br />
            No one wants to be defeated<br />
            Showin' how funky strong is your fighter<br />
            It doesn't matter who's wrong or right<br />
        </p>
        <p>
            Just beat it, beat it, beat it, beat it<br />
            No one wants to be defeated<br />
            Showin' how funky strong is your fighter<br />
            It doesn't matter who's wrong or right<br />
            Just beat it, beat it, beat it, beat it, beat it<br />
        </p>
        <p>
            Beat it, beat it, beat it, beat it<br />
            No one wants to be defeated<br />
            Showin' how funky strong is your fighter<br />
            It doesn't matter who's wrong or right<br />
        </p>
        <p>
            Just beat it, beat it, beat it, beat it<br />
            No one wants to be defeated<br />
            Showin' how funky strong is your fighter<br />
            It doesn't matter who's wrong or who's right<br />
        </p>
        <p>
            Just beat it, beat it, beat it, beat it<br />
            No one wants to be defeated<br />
            Showin' how funky strong is your fighter<br />
            It doesn't matter who's wrong or right<br />
        </p>
        <p>
            Just beat it, beat it, beat it, beat it<br />
            No one wants to be defeated<br />
            Showin' how funky strong is your fighter<br />
            It doesn't matter who's wrong or right<br />
            Just beat it, beat it<br />
            Beat it, beat it, beat it<br />
            No one wants to be defeated<br />
            Showin' how funky strong is your fighter<br />
            It doesn't matter who's wrong or who's right<br />
        </p>
        <p>
            Just beat it, beat it, beat it, beat it<br />
            No one wants to be defeated<br />
            Showin' how funky strong is your fighter<br />
            It doesn't matter who's wrong or right<br />
        </p>
    <article/>
{% endblock %}
