{% extends 'base.html.twig' %}
{% block body %}
    <article>
    <h1>Justin Biber</h1>
    <h2>BIBER</h2>

    <p>
Aye, aye, aye, aye, aye, aye, aye, aye<br/>
Me plus you (I'ma tell you one time)<br/>
Me plus you (One time, I'ma tell you one time)<br/>
Me plus you (One time, I'ma tell you one time)<br/>
One time (one time) one time
    </p>
    <p>    
When I met you girl my heart went knock knock<br/>
Now them butterflies in my stomach won't stop stop<br/>
And even though it's a struggle love is all we got<br/>
So we goin keep keep climbin' to the mountain top
    </p>
    <p>    
Your world is my world<br/>
And my fight is your fight<br/>
My breath is your breath<br/>
When you're hurt, I'm not right
    </p>
</article>

{% endblock %}