{% extends 'base.html.twig' %}
{% block body %}
    <pre>

        <aritcle>
            <h1>Autor Nieznany</h1>
            <h2>Bystra Woda</h2>
            
            <p>
            Hej bystra woda, bystra wodzicka    <br/>
            Pytało dziewce o Janicka            <br/>
            Hej lesie ciemny, wirsku zielony    <br/>
            Kaj mój Janicek umilony             <br/>
            </p>
            <p>
            Hej mój Janicku, miły Janicku       <br/>
            Ne chod. po orawskim chodnicku      <br/>
            Ne dość zes ty juz nagnał owiecek   <br/>
            Ostań psy dziewcynie kolkowiecek    <br/>
            </p>
            <p>
            Hej powiadali, hej powiadali        <br/>
            Hej, ze Janicka porubali            <br/>
            Hej porubali go Orawiany            <br/>
            Hej za łowiecki, za barany          <br/>
            </p>
            <p>
            Hej mówile ci miły Janicku          <br/>
            Ne chod. po orawskim chodnicku      <br/>
            Hej bo cię te orawskie juhasy       <br/>
            Długie uz han cekali casy           <br/>
            </p>
            <p>
            He dziwce slocha, hej dziwce płace  <br/>
            Uz ze Janicka ne obace              <br/>
            U orawskiego zamecku sciany         <br/>
            Lezy Janicek porubany               <br/>
            </p>
            <p>
            Hej Madziar pije, hej Madziar płaci <br/>
            Hej u madziara płacom dzieci        <br/>
            Hej płacom dzieci, hej płace żona   <br/>
            Hej że Madziara nima doma           <br/>
            </p>
            <p>
            Hej dolom, dolom, od skalnych Tater <br/>
            Hej poświstuje halny wiater         <br/>
            Hej poświstuje, hej ciska bidom     <br/>
            Hej pod dolinach chłopcy idom.      <br/>
            </p>

    </pre>
{% endblock %}