{% extends 'base.html.twig' %}
{% block body %}
<aritcle>
	<h1>Beyoncé featuring Jay-Z</h1>
	<h2>Deja Vu</h2>
	
	<p>
		BASS (UGH)<br/>
		HIGH HAT (UGH)<br/>
		808 (UGH)<br/>
		JAY (AH HA … READY … AH HA …)<br/>
		LET’S GO GET ‘EM (AH HA … C’MON)
	</p>

	<p>
		I USE TO RUN BASS BY LIKE JUAN PIERRE<br/>
		BUT NOW I RUN THE BASS, HIGH HAT AND THE SNARE<br/>
		I USE TO BAG GIRLS LIKE BIRKIN BAGS<br/>
		NOW I BAG B (BOY YOU HURTIN’ THAT)<br/>
		BROOKLYN BE WHERE THEY BIRTH ME AT<br/>
		NOW I BE EVERYWHERE – THE NERVE OF RAP<br/>
		THE AUDACITY TO HAVE ME WITH THEM CURTAINS BACK<br/>
		ME AND B, SHE ABOUT TO STEAM, STAND BACK
	</p>

	<p>
		BABY<br/>
		SEEMS LIKE EVERYWHERE I GO, I SEE YOU<br/>
		FROM YOUR EYES I SMILE, IT’S LIKE I BREATHE YOU<br/>
		HELPLESSLY I REMINISCE, DON’T WANT TO<br/>
		COMPARE NOBODY TO YOU
	</p>

	<p>
		BOY I TRY TO CATCH MYSELF<br/>
		BUT I’M OUTTA CONTROL<br/>
		YOUR SEXINESS IS SO APPEALING<br/>
		I CAN’T LET IT GO
	</p>

	<p>
		YOU KNOW THAT I CAN’T GET OVER YOU<br/>
		‘CAUSE EVERYTHING I SEE IS YOU<br/>
		AND I DON’T WANT NO SUBSTITUTE<br/>
		BABY I SWEAR IT’S DEJA VU
	</p>

	<p>
		YOU KNOW THAT I CAN’T GET OVER YOU<br/>
		‘CAUSE EVERYTHING I SEE IS YOU<br/>
		AND I DON’T WANT NO SUBSTITUTE<br/>
		BABY I SWEAR IT’S DEJA VU
	</p>

	<p>
		I’M SEEING<br/>
		THINGS THAT I KNOW CAN’T BE<br/>
		AM I DREAMING<br/>
		WHEN I SAW YOU WALKING PAST ME<br/>
		ALMOST CALLED YOUR NAME<br/>
		GOT A BETTER GLIMPSE AND THEN I LOOKED AWAY<br/>
		IT’S LIKE I’M LOSING IT
	</p>

	<p>
		BOY I TRY TO CATCH MYSELF<br/>
		BUT I’M OUTTA CONTROL<br/>
		YOUR SEXINESS IS SO APPEALING<br/>
		I CAN’T LET IT GO
	</p>

	<p>
		YOU KNOW THAT I CAN’T GET OVER YOU<br/>
		‘CAUSE EVERYTHING I SEE IS YOU<br/>
		AND I DON’T WANT NO SUBSTITUTE<br/>
		BABY I SWEAR IT’S DEJA VU
	</p>

	<p>
		YOU KNOW THAT I CAN’T GET OVER YOU<br/>
		‘CAUSE EVERYTHING I SEE IS YOU<br/>
		AND I DON’T WANT NO SUBSTITUTE<br/>
		BABY I SWEAR IT’S DEJA VU
	</p>

	<p>
		YES<br/>
		HOVA’S FLOW<br/>
		SO UNUSUAL<br/>
		BABY GIRL YOU SHOULD ALREADY KNOW<br/>
		IT’S H – O<br/>
		LIGHT UP THE DRO<br/>
		‘CAUSE YOU GONNA NEED HELP TRYNA STUDY MY<br/>
		BOUNCE<br/>
		FLOW BLOW<br/>
		WHAT THE DIFFERENCE<br/>
		ONE YOU TAKE IN VEIN<br/>
		WHILE THE OTHER YOU SNIFFIN’<br/>
		IT’S STILL DOPE<br/>
		PO-PO TYRNA CONVICT ‘EM<br/>
		THAT A NO-GO<br/>
		MY DOUGH KEEPS THE SCALES TIPPIN’<br/>
		LIKE 4 4’S<br/>
		LIKE I’M FROM THE H-O-U-S-T-O-N<br/>
		BLOW – WIND – SO CHICAGO OF HIM<br/>
		IS HE THE BEST EVER<br/>
		THAT THE ARGU-A-MENT<br/>
		I DON’T MAKE THE LIST<br/>
		DON’T BE MAD AT ME<br/>
		I JUST MAKE THE HITS LIKE A FACTORY<br/>
		I’M JUST ONE TO ONE<br/>
		NOTHIN’ AFTER ME<br/>
		NO DEJA VU<br/>
		JUST ME AND MY (OHH)
	</p>

	<p>
		BABY I CAN’T GO ANYWHERE<br/>
		WITHOUT THINKING THAT YOU’RE THERE<br/>
		SEEMS LIKE YOUR EVERYWHERE IT’S TRUE<br/>
		GOTTA BE HAVING DEJA VU<br/>
		‘CAUSE IN MY MIND, I WANT YOU HERE<br/>
		GET ON THE NEXT PLANE, I DON’T CARE<br/>
		IS IT BECAUSE I’M MISSING YOU<br/>
		THAT I’M HAVING DEJA VU
	</p>

	<p>
		BOY I TRY TO CATCH MYSELF<br/>
		BUT I’M OUTTA CONTROL<br/>
		YOUR SEXINESS IS SO APPEALING<br/>
		I CAN’T LET IT GO
	</p>

	<p>
		YOU KNOW THAT I CAN’T GET OVER YOU<br/>
		‘CAUSE EVERYTHING I SEE IS YOU<br/>
		AND I DON’T WANT NO SUBSTITUTE<br/>
		BABY I SWEAR IT’S DEJA VU<br/>
		(3X)
	</p>
</aritcle>
{% endblock %}