{% extends 'base.html.twig' %}
{% block body %}
    <article>

    <h1>Journey</h1>
    <h2>Don't stop believin'</h2>
        <p>
        Just a small town girl<br/>
        Livin' in a lonely world<br/>
        She took the midnight train<br/>
        Goin' anywhere<br/>
        Just a city boy<br/>
        Born and raised in South Detroit<br/>
        He took the midnight train<br/>
        Goin' anywhere
        </p>
        <p>
        A singer in a smokey room<br/>
        A smell of wine and cheap perfume<br/>
        For a smile they can share the night<br/>
        It goes on and on and on and on
        </p>
        <p>
        Strangers waiting<br/>
        Up and down the boulevard<br/>
        Their shadows searching<br/>
        In the night<br/>
        Streetlights, people<br/>
        Livin' just to find emotion<br/>
        Hidin' somewhere in the night
        </p>
        <p>
        Workin' hard to get my fill<br/>
        Everybody wants a thrill<br/>
        Payin' anything to roll the dice<br/>
        Just one more time<br/>
        Some will win<br/>
        Some will lose<br/>
        Some were born to sing the blues<br/>
        Oh, the movie never ends<br/>
        It goes on and on and on and on
        </p>
        <p>
        Strangers waiting<br/>
        Up and down the boulevard<br/>
        Their shadows searching<br/>
        In the night<br/>
        Streetlights, people<br/>
        Livin' just to find emotion<br/>
        Hidin' somewhere in the night
        </p>
        <p>
        Don't stop believin'<br/>
        Hold on to the feelin'<br/>
        Streetlights, people<br/>
        Don't stop believin'<br/>
        Hold on<br/>
        Streetlights, people<br/>
        Don't stop believin'<br/>
        Hold on to the feelin'<br/>
        Streetlights, people
        </p>
        </article>
{% endblock %}