{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Ozzy Osbourne</h1>
    <h2>Dreamer</h2>
    <p>
Gazing through the window at the world outside <br/>
Wondering will mother earth survive <br/>
Hoping that mankind will stop abusing her sometime 
    </p>
    <p>
After all there's only just the two of us <br/>
And here we are still fighting for our lives <br/>
Watching all of history repeat itself <br/>
Time after time 
    </p>
    <p>
I'm just a dreamer <br/>
I dream my life away <br/>
I'm just a dreamer <br/>
Who dreams of better days 
</p>
<p>
I watch the sun go down like everyone of us <br/>
I'm hoping that the dawn will bring a sign <br/>
A better place for those Who will come after us ... <br/>
This time 
</p>
<p>
I'm just a dreamer <br/>
I dream my life away oh yeah <br/>
I'm just a dreamer <br/>
Who dreams of better days 
</p>
<p>
Your higher power may be God or Jesus Christ <br/>
It doesn't really matter much to me <br/>
Without each others help there ain't no hope for us <br/>
I'm living in a dream of fantasy <br/>
Oh yeah, yeah, yeah 
</p>
<p>
If only we could all just find serenity <br/>
It would be nice if we could live as one <br/>
When will all this anger, hate and biggotry ... <br/>
Be gone? 
</p>
<p>
I'm just a dreamer <br/>
I dream my life away <br/>
Today <br/>
I'm just a dreamer <br/>
Who dreams of better days <br/>
Okay <br/>
I'm just a dreamer <br/>
Who's searching for the way <br/>
Today <br/>
I'm just a dreamer <br/>
Dreaming my life away <br/>
Oh yeah, yeah, yeah
    </p>
</article>
{% endblock %}
