{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Czesław Niemen</h1>
    <h2>Dziwny jest ten świat</h2>

    <p>
    Dziwny jest ten świat,</br>
    gdzie jeszcze wciąż</br>
    mieści się wiele zła. </br>
    I dziwne jest to, </br>
    że od tylu lat </br>
    człowiekiem gardzi człowiek.</br> 
    </p>
    <p>
    Dziwny ten świat, </br>
    świat ludzkich spraw, </br>
    czasem aż wstyd przyznać się. </br>
    A jednak często jest, </br>
    że ktoś słowem złym </br>
    zabija tak, jak nożem. </br>
    </p>
    <p>
    Lecz ludzi dobrej woli jest więcej</br> 
    i mocno wierzę w to, </br>
    że ten świat </br>
    nie zginie nigdy dzięki nim. </br>
    Nie! Nie! Nie! </br>
    Przyszedł już czas, </br>
    najwyższy czas, </br>
    nienawiść zniszczyć w sobie. </br>
    </p>
    <p>
    Lecz ludzi dobrej woli jest więcej </br>
    i mocno wierzę w to, </br>
    że ten świat </br>
    nie zginie nigdy dzięki nim. </br>
    Nie! Nie! Nie! </br>
    Nadszedł już czas, </br>
    najwyższy czas, </br>
    nienawiść zniszczyć w sobie.</br>
    </p>
</article>
{% endblock %}
