{% extends 'base.html.twig' %}
{% block body %}
    <article>
    <h1>Martin Solveig</h1>
    <h2>Hey Now</h2>

   
    <p>
       I’m all alone now, check it out<br/>
Me and you should take a vacay<br/>
I got a plan now, we’re going out<br/>
See you waiting for another day<br/>
    </p>
    <p>    
Here’s the thing I wanna talk about<br/>
Listen all you got to hear me out<br/>
We get it done, we get it done my own way<br/>
I just wanna say<br/>
    </p>
    <p>
Hey now, hey now<br/>
I haven’t had a good laugh for a day now<br/>
Hey now, hey now<br/>
You know you’re down, let’s do this right now<br/>
Hey now, hey now<br/>
Up top, we’re the kings of the playground<br/>
Hey now, hey now<br/>
You know you’re down, let’s do this right now<br/>
    </p>
    <p>
Let’s.. right now<br/>
Wait!<br/>
Let’s do this right now<br/>
    </p>
    <p>
What’s the hol’ up<br/>
Take your clothes off<br/>
Dance again<br/>
In the pillows<br/>
Run the dedo<br/>
We can play<br/>
Sing diamond nana<br/>
It’s the summer<br/>
Got exotic<br/>
Catch the rays<br/>
Hey, sun is never going down<br/>
All we have all day<br/>
    </p>
</article>

{% endblock %}