{% extends 'base.html.twig' %}

{% block body %}
    <h1>Iridescent - Linkin Park</h1>
You were standing in the wake of devastation<br>
You were waiting on the edge of the unknown<br>
With the cataclysm raining down<br>
Insides crying: "Save me now"<br>
You were there impossibly alone<br>
<br>
Do you feel cold and lost in desperation?<br>
You build up hope but failure's all you've known<br>
Remember all the sadness and frustration<br>
And let it go<br>
Let it go<br>
<br>
And in a burst of light that blinded every angel<br>
As if the sky had blown the heavens into stars<br>
You felt the gravity of tempered grace<br>
Falling into empty space<br>
No one there to catch you in their arms<br>
<br>
Do you feel cold and lost in desperation?<br>
You build up hope but failure's all you've known<br>
Remember all the sadness and frustration<br>
And let it go<br>
Let it go<br>
<br>
Let it go<br>
Let it go<br>
Let it go<br>
Let it go<br>
<br>
Do you feel cold and lost in desperation?<br>
You build up hope but failure's all you've known<br>
Remember all the sadness and frustration<br>
And let it go<br>
Let it go <br>

{% endblock %}
