{% extends 'base.html.twig' %}

{% block body %}
<h2>Kiler</h2>
<pre>
To co się dzieje naprawdę nie istnieje 
Więc nie warto mieć niczego, tylko karmić zmysły 
Będzie co ma być, już wiem, że stąd nie zwieję 
Poczekam i popatrzę, nie cofnę kijem Wisły 

Ref.
Już tylko Kiler, o sobie tylko tyle 
Wiem co za ile, nie muszę dbać o bilet 
Mam wszystko w tyle, są czasem takie chwile 
Że się nie mylę, choć wcale nie wiem ile 

Nie kiwnąłem nawet palcem by się znaleźć w takiej walce 
Teraz w pace swe ostatnie resztki image’u tracę 

Co się za mną dzieje, naprawdę nie istnieje 
Więc nie warto tak się bronić, tylko lecieć z wiatrem 
Poczekam, popatrzę, zrozumiem więcej 
Wtedy wreszcie sam też włączę się do akcji 

Ref.
Już tylko Kiler, o sobie tylko tyle 
Wiem co za ile, nie muszę dbać o bilet 
Mam wszystko w tyle, są czasem takie chwile 
Że się nie mylę, choć wcale nie wiem ile 

Już tylko Kiler podniosłem bilę 
Wracam za chwilę, nie dbam o bagaż, nie dbam o bilet 
Już tylko Kiler, mówię Ooo 
Mam wszystko w tyle, wiem co za ile 
Może się mylę, to chyba thriller jaj jaj jaj...
Już tylko Kiler.
</pre>
{% endblock %}