{% extends 'base.html.twig' %}
{% block body %}
    
    <h1>Kolorowe Jarmarki -  <i>Maryla Rodowicz</i></h1>
    <pre>
    Kiedy patrze hen za siebie 
W tamte lata co minęły 
Kiedy myślę co przegrałam 
A co diabli wzięli 
Co straciłam z własnej woli 
A co przeciw sobie 
Co wyliczę to wyliczę 
Ale zawsze wtedy powiem,
Że najbardziej mi żal: 

Kolorowych jarmarków, blaszanych zegarków 
Pierzastych kogucików, baloników na druciku 
Motyli drewnianych, koników bujanych 
Cukrowej waty i z piernika chaty 

Tyle spraw już mam za sobą
Coraz bliżej jesień płowa
Już tak wiele przeszło obok
Już jest co żałować
Małym rzeczom zostajemy
W pamiętaniu wierni
Zamiast serca noszę chyba
Odpustowy piernik, 
Bo najbardziej mi żal:

Kolorowych jarmarków, blaszanych zegarków 
Pierzastych kogucików, baloników na druciku / 2
Motyli drewnianych, koników bujanych 
Cukrowej waty i z piernika chaty.

Kolorowych jarmarków,
I z piernika chaty.
    

    </pre>
{% endblock %}