{% extends 'base.html.twig' %}
{% block body %}
    
    <h1>Korowody marzeń - <i>Kasia Kowalska</i></h1>
    <pre>
    Zbyt pochopnie oceniłam nas</br>
    zbyt naiwnie chciałam myśleć</br>
    chaos życia zmienić w ład</br>
    czemu wzrok twój zimny jest jak stal</br>
    czemu wolisz odejść niż zrozumieć mnie</br>
    
(...)
    </pre>
{% endblock %}