{% extends 'base.html.twig' %}
{% block body %}
    <article>
    <h1>Kasia Kowalska </h1>
    <h2>Korowody marzeń</h2>
    <p>
    Zbyt pochopnie oceniłam nas</br>
    zbyt naiwnie chciałam myśleć</br>
    chaos życia zmienić w ład</br>
    czemu wzrok twój zimny jest jak stal</br>
    czemu wolisz odejść niż zrozumieć mnie
    </p>
    <p>
Miało tak być nam przyjemnie</br>
grać tak beznamiętnie</br>
w korowodzie marzeń tkwić</br>
że ja to ja, a ty to ty</br>
miało tak być nam przyjemnie</br>
żyć tak bezboleśnie</br>
w korowodzie marzeń tkwić</br>
że ja to ja, a ty to ty
    </p>
    <p>
Znów twój obraz przed oczami mam</br>
przypomina otchłań</br>
ciężko będzie odbić się od dna</br>
stępić zmysły muszę, żeby trwać</br>
zbyt pochopnie chciałam brać</br>
więcej niż się unieść da</br>
    </p>
    
    <p>    
Miało tak być nam przyjemnie</br>
grać tak beznamiętnie</br>
w korowodzie marzeń tkwić</br>
że ja to ja, a ty to ty</br>
miało tak być nam przyjemnie</br>
żyć tak bezboleśnie</br>
w korowodzie marzeń tkwić</br>
że ja to ja, a ty to ty 
    </p>
    </article>
{% endblock %}