{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Girugamesh</h1>
    <h2>Kowarete Iku Sekai</h2>

    <p>
        Shiroi kara shiroku itai to iu<br/> 
        shiroi kara nani ka wo mazerereru<br/>
        chisana utsuwa no mizu wa sukitoori<br/>
        shizuka ni potsuri to iro ga ochita<br/>
    </p>
    <p>
        Yagate hito wa kegarete<br/>
        hito ga hito de somerarete<br/>
        tomo ni kiru kono hoshi somete<br/>
        mizukara no kubi shimetsukeru<br/>
    </p>
    <p>
        Kigi wa tsumetaku sobieru biru ni<br/>
        miageta jidai wa nani wo ekagu?<br/>
    </p>
    <p>
        Kegareta te de chi ni fure<br/>
        yasashisa kie hana ga kareta<br/>
        kokoro mo nai sono te de <br/>
        tsumi mo nai asu korosarete <br/>  
    </p>
    <p>
        Yagate hito wa kegarete<br/>
        hito ga hito de somerarete<br/>
        tomo ni kiru kono hoshi somete <br/>
        kowarete iku sekai (x 2)<br/>    
    </p>
    <p>
        Inochi to hikikae ni oretachi ga hoshigatta no wa bunmei de nani wo utsusu?<br/>
        Shiri shiyoku migatte na arasoi de <br/>
        nagareta no wa chi janakute hoshi no namida<br/>
        chikyuu ga umarete nanjuu okunen<br/>
        toki no hiritsu dato suubyou shika ikite nai no ni <br/>
        oretachi wa torikaeshi ga tsukanakunatte shimatta<br/>
        oretachi wa sukuiyou mo nai sonzai<br/>
        dakedo tada ichi kegarenaki ai wo shita<br/>
    </p>
    <p>
        Owari wa chikai keredo daijoubu ai seteru kimi wo  <br/>
    </p>
</article>
{% endblock %}
