{% extends 'base.html.twig' %}
{% block body %}
    <article>
    <h1>Sami</h1>
    <h2>lato</h2>
    <p>
    Słońce świeci nad nami<br>
    Ogrzewa nasze nagie ciała promieniami<br>
    Tato, lato<br>
    Zaufaj mi przygoda szybko skończy się...x2<br><br>
    </p>
    <p>
    Odpowiedzialność..(Ha).. a co to jest właściwie że,<br>
    Narzucacie prawa mi Odpowiedzialność..(Ha)..<br>
    a co to jest w ogóle że, Jak na smyczy czuję się<br>
    </p>
    </article>
{% endblock %}