{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Bajm</h1>
    <h2>Lato jak ze snu</h2>
    <!--pierwsza zwrotka-->
    <p>
        Lato było jak ze snu 
        Chyba tak wygląda cud 
        Umierałam z miłości do Ciebie 

        Plaża pełna jasnych barw 
        Ktoś na molo cicho łkał 
        W życiu trzeba być wolnym człowiekiem 
    </p>
</article>
{% endblock %}
