{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h1>Stereophonics</h1>
        <h2>Maybe tomorrow</h2>
        
            <p>
            I've been down and<br/>
            I'm wondering why<br/>
            These little black clouds<br/>
            Keep walking around<br/>
            With me<br/>
            With me
            </p>
        
            <p>
            It wastes time<br/>
            And I'd rather be high<br/>
            Think I'll walk me outside<br/>
            And buy a rainbow smile<br/>
            But they're free<br/>
            They're all free
            </p>
            
            <p>
            So maybe tomorrow<br/>
            I'll find my way home<br/>
            So maybe tomorrow<br/>
            I'll find my way home
            </p>
            
            <p>
            I look around at a beautiful life<br/>
            Been the upperside of down<br/>
            Been the inside of out<br/>
            But we breathe<br/>
            We breathe
            </p>
            
            <p>
            I wanna breeze and an open mind<br/>
            I wanna swim in the ocean<br/>
            Wanna take my time for me<br/>
            All me
            </p>

            <p>
            So maybe tomorrow<br/>
            I'll find my way home<br/>
            So maybe tomorrow<br/>
            I'll find my way home
            </p>

            <p>
            So maybe tomorrow<br/>
            I'll find my way home<br/>
            So maybe tomorrow<br/>
            I'll find my way home
            </p>

            <p>
            So maybe tomorrow<br/>
            I'll find my way home<br/>
            So maybe tomorrow<br/>
            I'll find my way home
            </p>
    </article>       
{% endblock %}
