{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Mela Koteluk</h1>
    <h2>Melodia ulotna</h2>

    <!-- pierwsza zwrotka -->
    <p>
    Kolejny piątek wieczorem<br/>
    ponownie w pobliżu soboty<br/>
    próbuję stanąć na nogi<br/>
    Prywatna grawitacja<br/>
    jak sznurkiem przywiązana<br/>
    przyciąga i oddala mnie<br/>
    Wyciągam do niej ręce<br/>
    chcę bliżej i więcej<br/>
    wciąż za daleko by mieć<br/>
    </p>
    <!-- refren -->
    <p>
    On na pewno gdzieś jest<br/>
    on już moim śladem idzie<br/>
    kocham go już dziś<br/>

    Ulatuje myśl<br/>
    melodia<br/>
    liście z drzew na ziemi śpią<br/>
    Uratuję dziś<br/>
    melodię<br/>
    wezmę jedną z nich ze sobą spać<br/>
    </p>
    <!-- druga zwrotka -->
    <p>
    Przyglądam sama sobie<br/>
    smaruję usta miodem <br/>
    włosy upinam w kok<br/>
    Mówili w domu o mnie <br/>
    wiatr na pogodę<br/>
    dziś spokój dogania mnie<br/>
    </p>
    <!-- refren -->
    <p>
    On na pewno gdzieś jest<br/>
    on już moim śladem idzie<br/>
    kocham go już dziś<br/>

    Ulatuje myśl<br/>
    melodia<br/>
    liście z drzew na ziemi śpią<br/>
    Uratuję dziś<br/>
    melodię<br/>
    wezmę jedną z nich ze sobą spać<br/>
    </p>
    <p>
    Ulatuje myśl<br/>
    melodia<br/>
    Uratuje mnie x4<br/>

    Ulatuje myśl<br/>
    melodia<br/>
    liście z drzew na ziemi śpią<br/>
    Uratuję dziś<br/>
    melodię<br/>
    wezmę jedną z nich ze sobą spać<br/>
    </p>
</article>
{% endblock %}
