{% extends 'base.html.twig' %}

{% block body %}
    <h1>Melodia ulotna</h1>

    <pre>
    Kolejny piątek wieczorem
    ponownie w pobliżu soboty
    próbuję stanąć na nogi
    Prywatna grawitacja
    jak sznurkiem przywiązana
    przyciąga i oddala mnie
    Wyciągam do niej ręce
    chcę bliżej i więcej
    wciąż za daleko by mieć

    On na pewno gdzieś jest
    on już moim śladem idzie
    kocham go już dziś

    Ulatuje myśl
    melodia
    liście z drzew na ziemi śpią
    Uratuję dziś
    melodię
    wezmę jedną z nich ze sobą spać

    Przyglądam sama sobie
    smaruję usta miodem 
    włosy upinam w kok
    Mówili w domu o mnie 
    wiatr na pogodę
    dziś spokój dogania mnie

    On na pewno gdzieś jest
    on już moim śladem idzie
    kocham go już dziś

    Ulatuje myśl
    melodia
    liście z drzew na ziemi śpią
    Uratuję dziś
    melodię
    wezmę jedną z nich ze sobą spać

    Ulatuje myśl
    melodia
    Uratuje mnie x4

    Ulatuje myśl
    melodia
    liście z drzew na ziemi śpią
    Uratuję dziś
    melodię
    wezmę jedną z nich ze sobą spać
    </pre>
{% endblock %}
