{% extends 'base.html.twig' %}

{% block body %}
    <h1>Na co komu dziś</h1>

    <pre>
        Stała pod ścianą sącząc kakao
Kapela cięła walca na sześć
Spytałem skromnie: "czy pójdziesz do mnie ?"
Kiwnęła głową zgadzając się:

Trzeba zawsze żyć biegnącą chwilą
Na co komu dziś wczorajszy dzień

Topiłem smutki w butelce wódki
Obok Japończyk do lustra pił
Pytam żółtego: "powiedz dlaczego
też jesteś smutny ?" On na to mi:

Ref.
Na co komu dziś wczorajsza miłość
Na co komu dziś wczorajszy sen
Po co dalej pić to samo piwo
Kiedy czujesz, że uleciał gaz

Chciałem być sobą za wielką wodą
Na czekoladę poczułem chęć
Była namiętna, bardzo nieletnia
I dobrze znała refrenu sens

Ref.
Na co komu dziś wczorajsza miłość
Na co komu dziś wczorajszy sen
Po co dalej pić to samo piwo
Kiedy czujesz, że uleciał gaz

Spotkałem narzeczoną
Taką ze szkolnych lat
Próbowaliśmy mocno
by taniec naszych ciał
rozgrzała jakaś iskra

Ref.
Na co komu dziś wczorajsza miłość
Na co komu dziś wczorajszy sen
Po co dalej pić to samo piwo
Kiedy czujesz, że uleciał gaz
    </pre>
{% endblock %}
