{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h1>Marek Grechuta</h1>
        <h2>Nie Dokazuj</h2>
        <p>
            Było kiedyś w pewnym mieście wielkie poruszenie,<br/>
            Wystawiano niesłychanie piękne przedstawienie,<br/>
            Wszyscy dobrze się bawili, chociaż był wyjątek.<br/>
        </p>
        <p>
            Młoda pani w pierwszym rzędzie wszystko miała za nic,<br/>
            Nawet to że śpiewak śpiewał tylko dla tej pani,<br/>
            I gdy rozum tracił dla niej, śmiała się, klaskała.<br/>
        </p>
        <p>
        W drugim akcie śpiewak śpiewał znacznie już rozważniej,<br/>
        Młoda pani była jednak ciągle niepoważna,<br/>
        Aż do chwili , kiedy nagle , nagle wśród pokazu,<br/>
        Padły słowa...
        </p>
        <p>
        Nie dokazuj, miła nie dokazuj,<br/>
        Przecież nie jest z ciebie znowu taki cud,<br/>
        Nie od razu , miła nie od razu,<br/>
        Nie od razu stopisz serca mego lód!<br/>
        </p>
    </article> 
{% endblock %}
