{% extends 'base.html.twig' %}

{% block body %}
    <h2>Alice Cooper - No More Mr Nice Guy</h2>
    <hr />
    <pre>
    I used to be such a sweet, sweet thing
    Till they got a hold of me
    I opened doors for little old ladies
    I helped the blind to see
    I got no friends 'cause they read the papers
    They can't be seen with me
    And I'm gettin' real shot down
    And I'm feelin' mean

    No more Mister Nice Guy
    No more Mister Clean
    No more Mister Nice Guy
    They say he's sick, he's obscene

    I got no friends 'cause they read the papers
    They can't be seen with me
    And I'm feelin' real shot down
    And I'm gettin' mean

    No more Mister Nice Guy
    No more Mister Clean
    No more Mister Nice Guy
    They say he's sick, he's obscene

    My dog bit me on the leg today
    My cat clawed my eye
    Mom's been thrown out of the social circles
    And dad has to hide
    I went to church incognito
    When everybody rose the Reverend Smithy
    He recognized me and punched me in the nose

    He said, no more Mister Nice Guy
    No more Mister Clean
    No more Mister Nice Guy
    He said you're sick, you're obscene</pre>
{% endblock %}
