{% extends 'base.html.twig' %}
{% block body %}
    <article>
    <h1>Guns N'Roses</h1>
    <h2>November Rain</h2>

  <p>  
When I look into your eyes<br/> 
I can see a love restrained<br/> 
But darling when I hold you<br/> 
Don't you know I feel the same 
</p>
<p>
Cause nothin' lasts forever<br/> 
And we both know hearts can change <br/>
And it's hard to hold a candle <br/>
In the cold November rain 
</p>
<p>
We've been through this such a long time <br/>
Just tryin' to kill the pain, oh yeah
</p>
<p>
But lovers always come and lovers always go <br/>
And no one's really sure who's lettin' go today <br/>
Walking away 
</p>
<p>
If we could take the time to lay it on the line <br/>
I could rest my head <br/>
just knowin' that you were mine <br/>
All mine <br/>
So if you want to love me <br/>
Then darlin' don't refrain <br/>
Or I'll just end up walkin' <br/>
In the cold November rain 
</p>
<p>
Do you need some time.. on your own <br/>
Do you need some time.. all alone <br/>
Everybody needs some time.. on their own <br/>
Don't you know you need some time.. all alone 
</p>
<p>
I know it's hard to keep an open heart <br/>
When even friends seem out to harm you <br/>
But if you could heal a broken heart <br/>
Wouldn't time be out to charm you 
</p>
<p>
Sometimes I need some time.. on my own <br/>
Sometimes I need some time.. all alone <br/>
Everybody needs some time.. on their own <br/>
Don't you know you need some time.. all alone 
</p>
<p>
And when your fears subside <br/>
And shadows still remain, oh yeah<br/>
I know that you can love me <br/>
When there's no one left to blame <br/>
So never mind the darkness <br/>
We still can find a way <br/>
Cause nothin' lasts forever <br/>
Even cold November rain 
</p>
<p>
Don't ya think that you need somebody <br/>
Don't ya think that you need someone <br/>
Everybody needs somebody <br/>
You're not the only one x2 (all x3)
</p>
    </article>
{% endblock %}