{% extends 'base.html.twig' %}

{% block body %}
    <h2>IRA - Ona jest ze snu</h2>
    <p>
    ONA JEST ZE SNU, A UBRANA W CODZIENNOŚĆ 
    DLA MNIE ZRZUCA JĄ KIEDY ROBI SIĘ CIEMNO

    By nasze życie miało wreszcie jakiś smak
    Wracam chętnie do chwili i pamiętam pierwszy raz
    Pierwsze spotkanie jak podróż w nieznane
    Siedzieliśmy wpatrzeni tak jak dzieci, które jeszcze nic nie wiedzą

    ONA JEST ZE SNU, A UBRANA W CODZIENNOŚĆ 
    DLA MNIE ZRZUCA JĄ KIEDY ROBI SIĘ CIEMNO

    By w środku nocy tańczyć razem w świetle gwiazd
    Zamykam oczy, tańczy cisza wokół nas
    Bo całkiem inna jest jej niewinność
    Każdy jej taniec jest wyłącznie dla mnie zawsze już zostanie

    ONA JEST ZE SNU, A UBRANA W CODZIENNOŚĆ 
    DLA MNIE ZRZUCA JĄ KIEDY ROBI SIĘ CIEMNO</p>
{% endblock %}

