{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>KAT</h1>
    <h2>Ostatni tabor</h2>
    <p>
Hej, tam!<br/>
Wydarłem klejnot szans<br/>
z ręki, co miecz <br/>
chce wbić<br/>
w opary deutero-stali,<br/>
w blasku stu gwiazd.<br/>
Z okna skraj <br/>
widzę od lat<br/>
kosmicznej plajty,<br/>
klejnot w rękę więc weź,<br/>
wstawaj, idź! 
    </p>
    <p>
Tak, wstawaj idź!<br/>
Tabory pędzą dzień po dniu.<br/>
Tak, wstawaj, hej!<br/>
Taboru hymn!
    </p>
    <p>
Wystrzał!<br/>
Może zapamietasz<br/>
upiorny jęk <br/>
ziemi,<br/>
na którą spadnie mgła,<br/>
sto kiloton.<br/>
Zanim skraj <br/>
ujrzysz tych lat,<br/>
pluń w oczy bestii,<br/>
tylko pluń w oczy bestii <br/>
i chodz!
</p>
<p>
Tak, wstawaj, idź!<br/>
Tabory pędzą dzień po dniu.<br/>
Tak, wstawaj, hej!<br/>
Taboru hymn.<br/>
Tak, wstawaj, idz!<br/>
Tabory pędzą dzień po dniu.<br/>
Tak, wstawaj, hej!<br/>
Taboru śpiew!
</p>
</article>
{% endblock %}
