{% extends 'base.html.twig' %}
{% block body %}
    <pre>

        <h1>Autor Nieznany</h1>
        <h2>Panie Janie</h2>

        <article>
        <p>    
            Panie Janie           <br/>
            Panie Janie           <br/>
        </p>
        <p>
            Rano Wstań            <br/>
            Rano Wstań            <br/>
        </p>
        <p>
            Wszystkie dzwony biją <br/>
            Wszystkie dzwony biją <br/>
        </p>
        <p>
            bing ban bong         <br/>
            bing ban bong         <br/>
        </p>
        </article>

    </pre>
{% endblock %}