{% extends 'base.html.twig' %}
{% block body %}
    
    <h1>Perfect - <i>My Darkest Days</i></h1>
    <pre>
    I was fine right before I met her</br>
    Never hurt and nothing could control me</br>
    You know I tried but I can’t regret her</br>
    She’s the first, ask anyone who knows me</br>
    Terrified that she’d find my heart and break it</br>
    Paralyzed by the thought of her with someone else</br>

    I wish I would have known</br>
    I shouldn’t have fallen in love with her</br>
    It’s been nothing but trouble till now</br>
    I shouldn’t have fallen in love at all</br>
    But I couldn’t stop myself</br>
    Who gives you the right?</br>
    To tear up my life</br>
    How dare she be so perfect?</br>
    What did I do to deserve this? (woooh)</br>
    Never let her go</br>
    How dare she be so perfect?</br>

    (You started the fire)</br>

    I haven't cried since the day she left me</br>
    Cause that would mean that I admit it’s over</br>
    I tell myself that she’s tryin’ to test me</br>
    She’d never leave, she still needs me to hold her</br>
    Horrified cuz she found my heart and broke it</br>
    Mortified when I picture her with someone else</br>
    
    I wish I would have known</br>
    I shouldn’t have fallen in love with her</br>
    It’s been nothing but trouble till now</br>
    I shouldn’t have fallen in love at all</br>
    But I couldn’t stop myself</br>
    Who gives you the right?</br>
    To tear up my life</br>
    How dare she be so perfect?</br>
    What did I do to deserve this? (woooh)</br>
    Never let her go</br>
    How dare she be so perfect?</br>

    2xTell me why</br>
    You started the fire</br>
    And played me like thatx2</br>
    
    4xOoooh</br>
    I shouldn’t have fallen in love with her</br>
    It’s been nothing but trouble till now</br>
    I shouldn’t have fallen in love at all</br>
    But I couldn’t stop myself</br>
    (Gotta let her go)</br>
    Who gives you the right?</br>
    To tear up my life</br>
    How dare she be so perfect?</br>
    What did I do to deserve this? (woooh)</br>
    (I gotta let ‘er go)</br>
    How dare she be so perfect?</br>
    
    2xTell me why</br>
    You started the fire</br>
    And played me like that x2</br>
    
    </pre>
{% endblock %}