{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Ich Troje</h1>
    <h2>Powiedz</h2>
     <!-- pierwsza zwrotka -->
    <p>   
        Powiedz, powiedz czemu<br/>
        Świat twój milczy cały blady od wzruszeń 
        Niczym słońce zaćmione przez księżyc 
        Czekające na chwile poruszeń.
    </p>
     <!-- druga zwrotka -->
    <p>
        Powiedz, czemu pragniesz 
        Dojrzeć w oknach świata część odległą 
        Niczym drzewo więdnące bez skargi 
        Czekające na deszcze z nadzieją.
    </p>
        <!-- refren -->
    <p>
        Wstań, powiedz nie jestem sam 
        I nigdy więcej już nikt nie powie 
        Sępie miłości, nie kochasz 

        Ja, jestem panią/panem mych snów 
        Moich marzeń i lęków 
        Moich straconych dni 
        Moich łez wylanych - łez... 
    </p>
</article>
{% endblock %}
