{% extends 'base.html.twig' %}

{% block body %}
<center><h1>Yugopolis - Miasto budzi się</h1></center><br /><br />
<pre>
Poranek taki cichy, dzień powoli wstaje. <br />
Moje miasto budzi się.<br />
Słońce purpurą już okryło czarne dachy. <br />
W złoto zaraz zmieni je.<br /><br />

Idę ulicą pustą, sławie co nad nami. <br />
Za tę ciszę, za ten świt.<br />
Że jesteś obok mnie, że nie poddałaś się.<br />
Za tę chwilę, która jest. <br /><br />

Patrzę na moje miasto, <br />
Kocham je. <br />
Ty jeszcze śnij i wyśnij dla nas sen. <br /><br />

Ref.: <br />
Miasto budzi się. <br />
Z naszymi marzeniami. <br />
Szumem ulic woła mnie. <br />
Miasto budzi się. <br />
Nie jesteśmy sami. <br />
Daj nam dzisiaj dobry dzień, dobry dzień. <br /><br />

Wieczorem gdy już cicho, <br />
Zamykamy oczy. <br />
W ciemną noc obejmę Cię. <br />
A potem tak jak zawsze. <br />
Ja przed słońcem wstanę, by powitać nowy dzień. <br /><br />

Patrzę na moje miasto, <br />
kocham je. <br />
Ty jeszcze śnij i wyśnij dla nas sen. <br /><br />

Ref.: <br />
Miasto budzi się. <br />
Z naszymi marzeniami.<br />
Szumem ulic woła mnie. <br />
Miasto budzi się. <br />
Nie jesteśmy sami.<br />
Daj nam dzisiaj dobry dzień.<br /><br />

Miasto budzi się. <br />
Z naszymi marzeniami.<br />
Szumem ulic woła mnie. <br />
Miasto budzi się. <br />
Nie jesteśmy sami.<br />
Daj nam dzisiaj dobry dzień, dobry dzień....<br /><br />
</pre>
{% endblock %}
