{% extends 'base.html.twig' %}

{% block body %}
<center><h1>Gintrowski Kaczmarski Łapiński - Mury</h1></center><br /><br />
<pre>
On natchniony i młody był,<br />
Ich nie policzyłby nikt,<br />
On im dodawał pieśnią sił,<br />
Śpiewał że blisko już świt.<br />
Świec tysiące palili mu,<br />
Znad głów podnosił się dym,<br />
Śpiewał, że czas by runął mur...<br />
Oni śpiewali wraz z nim:<br /><br />
</pre>
{% endblock %}
