{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Czerwone Gitary</h1>
        <h2> Płoną góry, płoną lasy</h2>
        
        <p>
        Płoną góry, płoną lasy w przedwieczornej mgle,<br/>
        stromym zboczem dnia, słońce toczy się.<br/>
        Płoną góry, płoną lasy, lecz nie dla mnie już,<br/>
        brak mi listów twych, ciepła twoich słów.
        </p>
        
        <p>
        Rzuć między nas, najszerszą z rzek,<br/>
        najgłębszy nurt, najdalszy brzeg.<br/>
        Rzuć między nas, to co w nas złe,<br/>
        a ja i tak, odnajdę cię.
        </p>
        
        <p>
        Płoną góry, płoną lasy, nim je zgasi zmierzch<br/>
        znowu minie noc, znowu minie dzień.<br/>
        Płoną góry płoną lasy, lecz nie dla mnie już,<br/>
        brak mi zwierzeń twych, ciszy twego snu.
        </p>
        
        <p>
        Rzuć między nas, najdłuższy rok,<br/>
        najskrytszy żal, najgłupszy błąd.<br/>
        Rzuć między nas, to co w nas złe,<br/>
        a ja i tak odnajdę cię.<br/>
        La, la, la, la...
        </p>
    </article>
{% endblock %}
