{% extends 'base.html.twig' %}
{% block body %}
    
    <h1>Power Shift - <i>Sonic Syndicate</i></h1>
    <pre>
    I really doubt this is the right side of the force
You better grab onto some hope
Cause you are going to need it as we go
Keep on fighting ignorance with even more ignorance
You'll see that sometimes the hand of fate must be forced

And we are under the gun
A bullet with our name on
Don't know where to run
Just see a dead end

And we are under the gun
A bullet with our name on
Don't know where to run
Just see a dead end

Let's sing to the anthem of the last days
There's no turning back
Let's sing together now for the last time (for the last time)

There won't be any revolution
If we don't use our gift
We have to come to a conclusion
A power shift
    </pre>
{% endblock %}