{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pszczółka Maja</h1>

    <pre>
      Gdzieś jest, lecz nie wiadomo gdzie <br />
      Świat, w którym baśń ta dzieje się, <br />
      Maleńka pszczółka mieszka w nim <br />
      Co wieść chce wśród owadów prym. <br />

      Tę pszczółkę, którą tu widzicie, zowią Mają, <br />
      Maję znają i kochają. <br />
      Maja fruwa tu i tam <br />
      Świat swój pokazując nam. <br />
      Dziś spotka Was maleńka, zwinna pszczółka Maja, <br />
      Śmiała, sprytna, rezolutna Maja <br />
      Mała przyjaciółka Maja <br />
      Maju, (Maju) Maju, (Maju) <br />
      Maju cóż zobaczymy dziś? <br />

      Jest gdzieś, lecz nie wiadomo gdzie. . . <br />

      Tę pszczółkę, którą tu widzicie . . . <br />

      Mała, rezolutna Maja, <br />
      Maju, (Maju) baju, (baju) <br />
      Maju cóż zobaczymy dziś <br />
    </pre>
{% endblock %}
