{% extends 'base.html.twig' %}
{% block body %}
<h1>First It Giveth</h1>
<pre>
I'm in you<br />
You're in me<br />
I can't tell<br />
<br />
You're so cruel<br />
More than me<br />
It is true<br />
That's right<br />
<br />
Loyal to<br />
Only you<br />
Up your sleeve<br />
<br />
I want some (come on, take it)<br />
of all of you (it's yours)<br />
Trickin me<br />

First it giveth<br />
Then it taketh away<br />
<br />
I would beg<br />
I would plead<br />
I would shake<br />
<br />
On a hook<br />
Dangling<br />
By the way<br />
<br />
I'm so young<br />
And beautiful<br />
(That's right)<br />
(I'm slick)<br />
I'm no fool<br />
<br />
Time goes by<br />
Tables turn<br />
Now I know<br />
<br />
First it giveth<br />
Then it taketh away <br />
</pre>
{% endblock %}