{% extends 'base.html.twig' %}

{% block body %}
<h2>Riding with the king</h2>
<pre>
I dreamt I had a good job and I got well paid
I blew it all at the penny arcade
A hundred dollars on the Cupid doll
No pretty chic is gonna make me crawl

We're on a TWA to the promised land
Every woman, child and man
Gets a Cadillac and a great big diamond ring
Don't you know you're ridin' with King

He's on a mission of mercy on a new frontier
He's gonna check us all out of here
Up to the mansion on the hill
Where you can get your prescription filled

Any kind of pills, folks
We're on a TWA to the promised land
Everybody clap your hands
Don't you girls love the way that it seems?

Don't you know you're ridin' with King?
Ridin' with the King
Don't you know you're ridin' with King?
Tuxedo and a shiny, three thirty five
(That's me)

You can see it in his face
The blues is his life
Tonight, everybody's getting their angel wings
Don't you know you're ridin' with King?

I stepped out of Mississippi when I was ten years old
With a suit cut sharp as a razor and a heart made of gold
I had a guitar hanging just about waist high
And I'm gonna play this thing until the day I die

Don't you know we're ridin' with King?
Don't you know we're ridin' with King?
You're ridin' with me Eric, you're in good hands
You're ridin' with the blues

Don't you know you're ridin' with King?
Yes, yes, you're ridin' with the King
I wanted to say B.B. King but you know King
Don't you know you're ridin' with King?

Yes, you're ridin' with King
</pre>
{% endblock %}