{% extends 'base.html.twig' %}

{% block body %}
    <article>
        
<h1>Doda</h1>
<h2>Riotka</h2>
<p>
Ile znaczy twarz, którą masz na start?<br/>
Całe twoje gry, jak firmowy znak.<br/>
Okiem wodzisz mnie, kryjesz się, choć nie umiesz.<br/>
Dużo wiem, nie uwierzę już w przelotny ten sen.<br/>
</p><p>
Znam ten scenariusz;<br/>
Kiedy jak teraz,<br/>
Zalewasz mnie milionem słów!<br/>
Sama cię przecież w nim obsadziłam<br/>
Żadnego z nich nie powiesz jutro!<br/>
</p><p>
Juuuuuuuż...<br/>
Juuuż... nie powiesz jutro,<br/>
Juuuuuuuż... żadnego z nich <br/>
(Juuuż) nie będziesz jutro czuć.<br/>
</p><p>
Ja dobrze wiem, na który gest mam czas,<br/>
Słowa dane w noc, w dzień nic dla mnie nie znaczą.<br/>
Pierścionki te co mówiły ze są na zawsze,<br/>
Przetopione są na koronę właśnie!<br/>
</p><p>
Znam ten scenariusz;<br/>
Kiedy jak teraz,<br/>
Zalewam Cie milionem słów!<br/>
Po najpiękniejszych wszystkich dziś pływam<br/>
Żadnego z nich nie powiem jutro!<br/>
</p><p>
Juuuuuuuż...
Juuuż... nie powiem jutro,<br/>
Juuuuuuuż... żadnego z nich <br/>
(Juuuż) nie będę jutro czuć.<br/>
</p><p>
Jutro nie będę, nie, jutro nie będę czuć.<br/>
Jutro nie będę, nie będę jutro czuć.<br/>
Jutro nie będziesz, nie, nie, jutro nie będziesz czuć.<br/>
Jutro nie będziesz, nie będziesz jutro czuć!<br/>
</p><p>
To co dziś niesie, jutro nie ma szans, <br/>
To co dziś płonie, to tylko ogień ciał.<br/>
</p><p>
Znam ten scenariusz;<br/>
Kiedy jak teraz,<br/>
Zalewam Cie milionem słów!<br/>
Po najpiękniejszych wszystkich dziś pływam<br/>
Żadnego z nich nie powiesz jutro!<br/>
</p><p>
Juuuuuuuż...
Juuuż... nie powiem jutro,<br/>
Juuuuuuuż... żadnego z nich <br/>
(Juuuż) nie będę jutro czuć.<br/>
</p><p>
Nie będę już, nie będę już.<br/>
Nie będę już, nie będę jutro czuć!<br/>
Jutro nie będziesz, nie, nie, jutro nie będziesz czuć,<br/>
Jutro nie będziesz, nie będziesz jutro czuć.<br/>
</p>
    </article>
{% endblock %}