{% extends 'base.html.twig' %}

{% block body %}
<h2>Riotka</h2>
<pre>
Ile znaczy twarz, którą masz na start?
Całe twoje gry, jak firmowy znak.
Okiem wodzisz mnie, kryjesz się, choć nie umiesz.
Dużo wiem, nie uwierzę już w przelotny ten sen.

Znam ten scenariusz;
Kiedy jak teraz,
Zalewasz mnie milionem słów!
Sama cię przecież w nim obsadziłam
Żadnego z nich nie powiesz jutro!

Juuuuuuuż...
Juuuż... nie powiesz jutro,
Juuuuuuuż... żadnego z nich 
(Juuuż) nie będziesz jutro czuć.

Ja dobrze wiem, na który gest mam czas,
Słowa dane w noc, w dzień nic dla mnie nie znaczą.
Pierścionki te co mówiły ze są na zawsze,
Przetopione są na koronę właśnie!

Znam ten scenariusz;
Kiedy jak teraz,
Zalewam Cie milionem słów!
Po najpiękniejszych wszystkich dziś pływam
Żadnego z nich nie powiem jutro!

Juuuuuuuż...
Juuuż... nie powiem jutro,
Juuuuuuuż... żadnego z nich 
(Juuuż) nie będę jutro czuć.

Jutro nie będę, nie, jutro nie będę czuć.
Jutro nie będę, nie będę jutro czuć.
Jutro nie będziesz, nie, nie, jutro nie będziesz czuć.
Jutro nie będziesz, nie będziesz jutro czuć!

To co dziś niesie, jutro nie ma szans, 
To co dziś płonie, to tylko ogień ciał.

Znam ten scenariusz;
Kiedy jak teraz,
Zalewam Cie milionem słów!
Po najpiękniejszych wszystkich dziś pływam
Żadnego z nich nie powiesz jutro!

Juuuuuuuż...
Juuuż... nie powiem jutro,
Juuuuuuuż... żadnego z nich 
(Juuuż) nie będę jutro czuć.

Nie będę już, nie będę już.
Nie będę już, nie będę jutro czuć!
Jutro nie będziesz, nie, nie, jutro nie będziesz czuć,
Jutro nie będziesz, nie będziesz jutro czuć.
</pre>
{% endblock %}