{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h1>LemOn</h1>
        <h2>LemOn</h2>
        <p>
            Dzień w dzień, bardziej śmieszysz mnie<br />
            Nie wiesz..<br />
            Nie wiesz czego chcesz, czego nie chcesz, wiesz<br />
            To nie pierwszy raz..<br />
            To nie pierwszy raz, gdy ktoś ślepo błądzi<br />
            Nic z tego nie będzie, nic z tego nie będzie.<br />
        </p>
        <p>
            Łzy, sny, mówisz jestem zły,<br />
            Wczoraj...<br />
            Wczoraj wołasz: bądź, dzisiaj Wieszasz psy<br />
            Znowu...<br />
            Znowu racje mam, mówisz będę sam<br />
            Nic z tego nie będzie, nic z tego nie będzie.<br />
        </p>
        <p>
            REFREN<br />
            Scarlett, mało mam<br />
            Przestrzeni i oddechu<br />
            Mało mam<br />
            Scarlett, mało mam<br />
            przez ciebie brak spokoju w sobie mam.<br />
        </p>
        <p>
            Wstań, idź, przestań mazać się,<br />
            Świetnie..<br />
            Świetnie cie rozumiem, zaczęliśmy źle<br />
            Co ty ze mną masz, w co ty ze mną grasz?<br />
            Nic z tego nie będzie, nic z tego nie będzie..<br />
            Puść mnie, przestań szarpać się<br />
            Jeśli..<br />
            Jeśli czegoś chcesz to od razu bierz<br />
            Złap puść..<br />
            Złap puść, mogę podać Ci nóż<br />
            Nic z tego nie będzie, z tego nic nie będzie.<br />
        </p>
        <p>
            Scarlett, mało mam<br />
            Przestrzeni i oddechu<br />
            Mało mam<br />
            Scarlett, mało mam<br />
            przez ciebie brak spokoju w sobie mam.<br />
            [BRIDGE]<br />
            Usiądź bo muszę na Ciebie patrzeć...<br />
            Biłem się z myślami, dobrze dziś wyglądasz, wiesz...<br />
        </p>
        <p>
            Scarlett, mało mam<br />
            Przestrzeni i oddechu,<br />
            Mało mam<br />
            Scarlett..<br />
            Scarlett mało mam,<br />
            przez ciebie brak spokoju w sobie mam<br />
            Scarlett mało mam,<br />
            Przestrzeni i oddechu<br />
            Mało mam<br />
            Scarlett mało mam<br />
            przez ciebie brak spokoju w sobie mam.<br />
            Scarlett... Scarlett... Scarlett...<br />
        </p>
        </article>
{% endblock %}