{% extends 'base.html.twig' %}
{% block body %}
    <article>

        <h1>Dżem</h1>
        <h2>Sen o Victorii</h2>

        <p>
            Dzisiaj miałem piękny sen,<br/>
            naprawdę piękny sen.<br/>
            Wolności moja, śniłem, że<br/>
            wziąłem z Tobą ślub.<br/>
            Słońce nas błogosławiło<br/>
            I Księżyc też tam był<br/>
            Wszystkie gwiazdy nieba.<br/>
            Wszystkie gwiazdy pop.
        </p>

        <p>
            O Victorio, moja Victorio!<br/>
            Dlaczego mam Cię tylko w snach?<br/>
            Wolności moja, Ty Victorio!<br/>
            Opanuj w końcu cały świat<br/>
        </p>

        <p>
            Och, gdyby tak wszyscy ludzie<br/>
            Mogli przeżyć taki jeden dzień.<br/>
            Gdy wolność wszystkich ludzi zbudzi<br/>
            I powie: "Idźcie tańczyć, to nie sen"
        </p>

        <p>
            O Victorio, moja Victorio!<br/>
            O Victoria ma! ...x6
        </p>

    </article>
{% endblock %}