{% extends 'base.html.twig' %}

{% block body %}
    <h2>Czesław Niemen - Sen o Warszawie</h2>
    <hr />
    <pre>
  Mam, tak samo jak ty,
miasto moje, a w nim
najpiękniejszy mój świat,
najpiękniejsze dni,
zostawiłem tam kolorowe sny.

Kiedyś zatrzymam czas
i na skrzydłach jak ptak
będę leciał co sił
tam, gdzie moje sny
i warszawskie kolorowe dni.

Gdybyś ujrzeć chciał 
nadwiślański świt,
już dziś wyruszaj ze mną tam.
Zobaczysz, jak 
przywita pięknie nas
warszawski dzień.

Mam, tak samo jak ty,
miasto moje, a w nim
najpiękniejszy mój świat,
najpiękniejsze dni,
zostawiłem tam kolorowe sny.

Gdybyś ujrzeć chciał 
nadwiślański świt,
już dziś wyruszaj ze mną tam.
Zobaczysz, jak 
warszawski dzień,
Zobaczysz, jak 
warszawski dzień,
warszawski dzień.
warszawski dzień,</pre>
{% endblock %}