{% extends 'base.html.twig' %}
{% block body %}
    <pre>

        <aritcle>
            <h1>Plan B</h1>
            <h2>Stay Too Long</h2>
            
<p>
I know what's to come </br>
Am I feeling happy now? </br>
I know when I'm drunk </br>
In ways I know it always lets me down </br>
</p>
<p>
Cos I always stay too long </br>
Long enough for something to go wrong </br>
</p>
<p>
I'm in a brawl </br>
Cos I won't take shit lying down </br>
Right into the wall </br>
The police are on their way right now </br>
</p>
<p>
Cos I always stay too long </br>
Long enough for something to go wrong </br>
Yeah I always stay too long </br>
Fair ladies they're singin' my s-so-song, s-s-s-s-so-song, s-s-s-s-so-song, s-s-s-song </br>
</p>
<p>
I got my peeps standing with me shouting pull up your socks </br>
Cos we just broke the law and now we're running from cops </br>
I got my lip bust fighting now there's blood on my top </br>
And I'm still out looking for a party, somewhere to stop </br>
</p>
<p>
I got my peeps them telling me they know where its at </br>
So I pull out twenty notes and jump straight into a cab </br>
I'm on my way to where I'm going thinking I need more Jack </br>
But that probably ain't the brightest idea I've ever had </br>
</p>
<p>
Cos </br>
</p>
<p>
I always stay too long </br>
Long enough for something to go wrong </br>
</p>
<p>
On the run from the law </br>
I'm looking worse for wear </br>
I go through a door </br>
And suddenly I find myself somewhere </br>
</p>
<p>
Somethings bound to go wrong </br>
If I stay too long </br>
I know we're going to get to dawn </br>
If only staying in singing my s-so-song, s-so-song </br>
S-s-s-s-so-song, s-s-s-s-so-song, s-s-s-s-so-song, </br>
S-so-song, s-s-s-s-so-song song song </br>
</p>
<p>
Ah c'mon </br>
</p>
<p>
Ah c'mon </br>
</p>
<p>
Ah c'mon, c'mon, c'mon, c'mon </br>
</p>
<p>
I got my peeps standing with me </br>
At the bar doing shots </br>
Cos now we're so fucking plastered </br>
We don't know when to stop </br>
I got my girlfriend ringing me,belling me up </br>
I know I should probably answer but I just can't be fucked </br>
I got my peeps standing with me and I'm having a blast </br>
Im feeling so fucking good right now I want it to last </br>
So I put my phone on silent and I refill my glass </br>
The music so fucking banging feel like I wanna dance </br>
I'm at the bar and I see this chick checking me out </br>
From afar yes she wants my dick, there ain't a doubt </br>
She's got a skirt so short make you drool from the mouth </br>
Looking my way as if to say I'm in with a shout </br>
So I pull a chair up and near and buy her a drink </br>
She says cheers I says yeah our glasses go clink </br>
Now I'm being bad, in a cab, groping this girl </br>
Once the cab is paid we make our way up to the hotel </br>
Now I'm in a lift, getting lips, Standards is low </br>
But do I care? do I fuck! </br>
</p>
<p>
I'm on a roll! Yo! </br>
</p>


    </pre>
{% endblock %}