{% extends 'base.html.twig' %}
{% block body %}
    <pre>

        <aritcle>
            <h2>Bystra Woda</h2>
            
            <p>
            Gdzie strumyk płynie z wolna,<br/>
            Rozsiewa zioła maj,<br/>
            Stokrotka rosła polna,<br/>
            A nad nią szumiał gaj,<br/>
            Stokrotka rosła polna,<br/>
            A nad nią szumiał gaj,<br/>
            Zielony gaj.<br/>
            </p>
            <p>
            Wtem harcerz idzie z wolna.<br/>
            „Stokrotko, witam cię,<br/>
            Twój urok mnie zachwyca,<br/>
            Czy chcesz być mą, czy nie?”<br/>
            "Twój urok mnie zachwyca,<br/>
            Czy chcesz być mą, czy nie?<br/>
            Czy nie, czy nie?<br/>
            </p>
            <p>
            Stokrotka się zgodziła<br/>
            I poszli w ciemny las,<br/>
            A harcerz taki gapa <br/>
            W pokrzywy wlazł po pas <br/>
            A harcerz taki gapa <br/>
            W pokrzywy wlazł po pas <br/>
            Po pas, po pas <br/>
            </p>

    </pre>
{% endblock %}