{% extends 'base.html.twig' %}

{% block body %}
    <h2>Sam Brown - Stop</h2>
    <hr />
    <pre>
   All that I have is all that you've given me 
did you never worry that I'd come to depend on you 
I gave you all the love I had in me 
now I find you've lied and I can't believe it's true 

Wrapped in her arms I see you across the street 
and I can't help but wonder if she knows what's going on 
you talk of love but you don't know how it feels 
when you realise that you're not the only one 

Oh you'd better stop before you tear me all apart 
you'd better stop before you go and break my heart 
ooh you'd better stop 

Time after time I've tried to walk away 
but it's not that easy when your soul is torn in two 
so I just resign myself to it every day 
now all I can do is to leave it up to you 

Oh you'd better stop before you tear me all apart 
you'd better stop before you go and break my heart 
ooh you'd better stop 

Stop if love me 
(you will remember) 
now's the time to be sorry 
(that day forever) 
I won't believe that you'd walk out on me 

Oh you'd better stop before you tear me all apart 
you'd better stop before you go and break my heart 
ooh you'd better stop</pre>
{% endblock %}
