{% extends 'base.html.twig' %}

{% block body %}
<p>
Hop, hop
,hop szklankę piwa 
hop , hop , hop szklankę piwa
hop , hop , hop szklankę piwa
hop szklankę piwa hop !
dnem mojej duszy jest pierwotna mściwość
a moim herbem jest soczysta larwa
zdębiałych koni lawiny , lawiny
i oficerów zasmucone miny 
</p>
{% endblock %}
