{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Seether</h1>
        <h2>Truth</h2>
        <p>
           If I gave you the truth, would it keep you alive?
Though I'm closer to wrong
I'm no further from right
And now I'm convinced on the inside
That something's wrong with me
Convinced on the inside,
You're so much more than me, yeah

No there's nothing you say that can salvage the lie
But I'm trying to keep my intentions disguised
And now I'm deprived of my conscience
And something's got to give
Deprived of my conscience
This all belongs to me, yeah

I'm beaten down again, I belong to them
Beaten down again, I've failed you
I'm weaker now my friend, I belong to them
Beaten down again, I've failed you

The deception you show is your own parasite
Just a word of advice you can heed if you like
And now I'm convinced on the inside
That something's wrong with me
Convinced on the inside,
You're so much more than me, 

I'm beaten down again, I belong to them
Beaten down again, I've failed you
I'm weaker now my friend, I belong to them
Beaten down again, I've failed you

I'm beaten down again, I belong to them
Beaten down again, I've failed you
I'm weaker now my friend, I belong to them
Beaten down again, I've failed you

I'm beaten down
I'm beaten down
I'm beaten down
        </p>
    </article>
{% endblock %}
