{% extends 'base.html.twig' %}

{% block body %}
    <h2>Wilki - Urke</h2>
    <pre>
Nic nie przychodzi do głowy
Samotny człowiek w środku dnia
Zupełnie sam
Na ulicy gwar
Zgubione szczęście 
Nigdy nie wraca, choćbyś chciał
Tyle w życiu się zmienia
Zaufaj przeznaczeniu

Pijemy za lepszy czas
Za każdy dzień, który w życiu trwa
Za każde wspomnienie, co żyje w nas
Niech żyje jeszcze przez chwilę

Nic nie przychodzi do głowy
Nic nie poprawisz, choćbyś chciał
Czekaj na wiatr
Zjawi się sam
Wykorzystaj tę chwilę
Może cię spotkać w środku dnia
Nie trać wiary w marzenia
Tyle jest do stracenia

Pijemy za lepszy czas
Za każdy dzień, który w życiu trwa
Za każde wspomnienie, co żyje w nas
Niech żyje jeszcze przez chwilę
    </pre>
{% endblock %}
