{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Wilki</h1>
    <h2>Urke</h2>
    <p>
Nic nie przychodzi do głowy<br/>
Samotny człowiek w środku dnia<br/>
Zupełnie sam<br/>
Na ulicy gwar<br/>
Zgubione szczęście <br/>
Nigdy nie wraca, choćbyś chciał<br/>
Tyle w życiu się zmienia<br/>
Zaufaj przeznaczeniu
    </p>
    <p>
Pijemy za lepszy czas<br/>
Za każdy dzień, który w życiu trwa<br/>
Za każde wspomnienie, co żyje w nas<br/>
Niech żyje jeszcze przez chwilę
    </p>
    <p>
Nic nie przychodzi do głowy<br/>
Nic nie poprawisz, choćbyś chciał<br/>
Czekaj na wiatr<br/>
Zjawi się sam<br/>
Wykorzystaj tę chwilę<br/>
Może cię spotkać w środku dnia<br/>
Nie trać wiary w marzenia<br/>
Tyle jest do stracenia
    </p>
    <p>
Pijemy za lepszy czas<br/>
Za każdy dzień, który w życiu trwa<br/>
Za każde wspomnienie, co żyje w nas<br/>
Niech żyje jeszcze przez chwilę
   </p>
    </article>
{% endblock %}
