{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h1>Lady Pank</h1>
        <h2>Wciąż Bardziej Obcy</h2>
        <p>
            Są dni, kiedy mówię: dość<br/>
            Żyję chyba sobie sam na złość<br/>
            Wciąż gram, śpiewam, jem i śpię<br/>
            Tak naprawdę jednak nie ma mnie<br/>
        </p>
        <p>
            Wciąż jestem obcy<br/>
            Zupełnie obcy tu - niby wróg<br/>
            Wciąż jestem obcy<br/>
            Wciąż bardziej obcy wam<br/>
            I sobie sam<br/>
        </p>
        <p>
            Ktoś znów wczoraj mówił mi:<br/>
            Trzeba przecież kochać coś, by żyć<br/>
            Mieć gdzieś jakiś własny ląd<br/>
            Choćby o te dziesięć godzin stąd<br/>
        </p>
        <p>
            Wciąż jestem obcy<br/>
            Zupełnie obcy tu - niby wróg<br/>
            Wciąż jestem obcy<br/>
            Wciąż bardziej obcy wam<br/>
            I sobie sam<br/>
        </p>
        <p>
            Wciąż jestem obcy<br/>
            Zupełnie obcy tu - niby wróg<br/>
            Wciąż jestem obcy<br/>
            Wciąż bardziej obcy wam<br/>
            I sobie sam<br/>
        </p>
    </article>
{% endblock %}