{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Queen</h1>
    <h2>We are the champions</h2>
    
    <!-- pierwsza zwrotka -->
    <p>
       I've paid my dues <br />
       Time after time <br />
       I've done my sentence <br />
       But committed no crime <br />
       And bad mistakes <br />
       I've made a few <br />
       I've had my share of sand <br />
       Kicked in my face <br />
       But I've come through <br />
       And I need to go on and on and on and on 
    </p>
    
    <!-- refren -->
    <p>
       We are the champions - my friend <br />
       And we'll keep on fighting till the end <br />
       We are the champions <br />
       We are the champions <br />
       No time for losers <br />
       'Cause we are the champions of the world 
    </p>
    
    <!-- druga zwrotka -->
    <p>
       I've taken my bows <br />
       And my curtain calls <br />
       You've brought me fame and fortune <br /> 
       And everything that goes with it <br />
       I thank you all <br />
       But it's been no bed of roses no pleasure cruise <br />
       I consider it a challenge before the whole human race <br />
       And I ain't gonna lose <br />
       And I need to go on and on and on and on 
    </p>
    
    <!-- refren -->
    <p>
       We are the champions - my friend <br />
       And we'll keep on fighting till the end <br />
       We are the champions <br />
       We are the champions <br />
       No time for losers <br />
       'Cause we are the champions of the world 
    </p>
    
    <!-- refren -->
    <p>
       We are the champions - my friend <br />
       And we'll keep on fighting till the end <br />
       We are the champions <br />
       We are the champions <br />
       No time for losers <br />
       'Cause we are the champions
    </p>
</article>
{% endblock %}
