{% extends 'base.html.twig' %}

{% block body %}
    <pre>
<article>
    <h1>Dżem</h1>
    <h2>Whisky</h2>
    <p>
        Mówią o mnie w mieście: "Co z niego za typ?<br/>
Wciąż chodzi pijany, pewno nie wie co to wstyd<br/>
Brudny, Niedomytek, w stajni ciągle śpi!<br/>
Czego szuka w naszym mieście?<br/>
Idź do diabła" - mówią ludzie pełni cnót
</p>
<p>
Chciałem kiedyś zmądrzeć, po ich stronie być,<br/>
Spać w czystej pościeli, świeże mleko pić<br/>
Naprawdę chciałem zmądrzeć i po ich stronie być<br/>
Pomyślałem więc o żonie, aby stać się jednym z nich<br/>
Stać się jednym z nich, stać się jednym z nich...
</p>
<p>
Już miałem na oku hacjendę, wspaniałą mówię wam,<br/>
Lecz nie chciała tam zamieszkać żadna z pięknych dam<br/>
Wszystkie śmiały się wołając, wołając za mną wciąż:<br/>
"Bardzo ładny Frak masz Billy,<br/>
Ale kiepski byłby z Ciebie mąż, kiepski byłby z Ciebie mąż"<br/>
Ouuu..Yeah,yeah,yeah
</p>
<p>
Kiepski byłby mąż .<br/>
Yeah.
</p>
<p>
Whisky moja żono, jednak Tyś najlepszą z dam<br/>
Już mnie nie opuścisz, nie, nie będę sam<br/>
Mówią whisky to nie wszystko, można bez niej żyć<br/>
Lecz nie wiedzą o tym,<br/>
Że najgorzej w życiu to,<br/>
To samotnym być, to samotnym być
</p>
<p>
O nie!
Lecz nie wiedzą o tym,że<br/>
Najgorzej to,<br/>
To samotnym być<br/>
Nie, o nie!<br/>
Nie chcę już samotnym być, nie!<br/>
O nie!!!<br/>
nie chcę już, nie chcę już samotnym być,nie!<br/>
nie chcę już, nie chcę już samotnym być, nie!
nie!
</p>
</pre>
</article>
{% endblock %}
